*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header{
  height: 10vh;
  width: 100vw;
  display: flex;
  background-color: transparent;
  position: fixed;
  align-items: center;
  /* border: 1px solid white; */
  justify-content: space-between;
}

.header > h1 {
  color: #fed135;
  font-weight: bold;
  font-family: cursive;
  font-size: 23px;
  padding-left: 10%;
  display: flex;
  height: 10vh;
  align-items: center;
  width: 30vw;
  cursor: pointer;
}

.navbar{
  display: flex;
}

.navlist{
 display: flex;
 justify-content: space-around;
 width: 55vw;
 padding-right: 45px;
}

.nav-item{
  color: white;
  font-family: arial;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 13px;
  /* padding-right: 45px; */
  cursor: pointer;
  flex-wrap: wrap;
}

.nav-item:hover{
  color: #fed135;
}

.hamburger{
  height: 25px;
  width: 28px;
  right: 10%;
  background-color:transparent;
  object-fit: cover;
  display: flex;
  justify-content: space-between;
  padding-left: 7px;
}

.mobile-menu{
  background-color: #fed135;
  color:black;
  height: 40px;
  width: 90px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  font-weight: bold;
  font-size: 13px;
  padding-left: 7px;
  cursor: pointer;
  margin-right: 75px;
}


.mobile-navlist{
  height: 0;
  position: absolute;
  top: 10vh;
  background: #212528;
  left:0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  transition: all .6s;
  overflow-y: hidden;
  width: 100vw;
}

.mobile-navlist-open{
  background-color: #212528 ;
  height: 25vh;
  font-size: 15px;
  display: flex;
  justify-content: space-around;
  font-weight: bold;
  padding-left: 10%;
}

.main{
  background-image: url("https://blackrockdigital.github.io/startbootstrap-agency/img/header-bg.jpg");
  width: 100vw;
  height: 95vh;
  color: white;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.main-cursive-text{
  color: white;
  font-weight: bold;
  font-family: serif;
  font-size: 35px;
  padding-top: 7vh;
}

.main-text{
  color: white;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-content: center;
}

.yellow-box{
  background-color: #fed135;
  color: white;
  width: 20vw;
  height: 7vh;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-size: 17px;
  cursor: pointer;
}


@media(min-width: 800px){
  .mobile-menu{
    display: none;
  }
}


@media(max-width: 800px){
  .navlist{
    display: none;
  }
  .header > h1{
    width: 40vw;
  }
  .header{
    background-color: #212528 ;
  }
}

@media(max-width: 700px){
  .main-text{
    font-size: 45px;
  }
  .yellow-box{
    font-size: 13px;
  }
}

@media(max-width: 550px){
  .main-text{
    font-size: 35px;
  }
  .main-cursive-text{
    font-size: 28px;
  }
  .header > h1{
    font-size: 20px;
  }
}